<!-- landing_page.html -->
{% extends 'base_generic.html' %}

{% block content %}
<div class="container text-center">
    <h1 class="my-5">Welcome to the User Portal</h1>
    <p>Choose your action below:</p>

    <div class="d-flex justify-content-center my-4">
        <a href="{% url 'register_user' %}" class="btn btn-primary mx-2">Register</a>
        <a href="{% url 'login' %}" class="btn btn-secondary mx-2">Login</a>
    </div>

    <footer class="mt-5">
        <p>&copy; 2025 Smart attendance</p>
    </footer>
</div>
{% endblock %}

