<!-- templates/student/student_dashboard.html -->
{% extends 'base.html' %}

{% block title %}Lecture Dashboard{% endblock %}

{% block header %}
    {% include 'partials/lecture/header.html' %}
{% endblock %}

{% block navbar %}
    {% include 'partials/lecture/navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'partials/lecture/sidebar.html' %}
{% endblock %}

{% block content %}
   
{% endblock %}

{% block footer %}
    {% include 'partials/lecture/footer.html' %}
{% endblock %}


{% block script %}
    {% include 'partials/scripts.html' %}
{% endblock %}