{% load static %}

<aside class="sidebar">
    <div class="sidebar-logo">
        <div class="logo-header" data-background-color="dark">
            <h1 style="color: aliceblue;">Lecture Portal</h1>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item {% if request.resolver_match.url_name == 'lectureuser_dashboard' %}active{% endif %}">
                    <a href="{% url 'lectureuser_dashboard' %}">
                        <i class="fas fa-th-list"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'all_registered_students' %}active{% endif %}">
                        <a href="{% url 'all_registered_students' %}">
                            <i class="fas fa-users"></i>
                            <p>All Registered Students</p>
                        </a>
                    </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'modules' %}active{% endif %}">
                    <a href="">
                        <i class="fas fa-chalkboard-teacher"></i>
                        <p>Modules</p>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'settings' %}active{% endif %}">
                    {% comment %} <a href="{">
                        <i class="fas fa-cog fa-spin"></i>
                        <p>Settings</p>
                    </a> {% endcomment %}
                </li>
            </ul>
        </div>
    </div>
</aside>
