{% load static %}

<!-- Include Bootstrap CSS -->
<!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->

<link rel="stylesheet" href="{% static 'css/style.css' %}"/>
<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}"/>
<link rel="stylesheet" href="{% static 'fontawesome-free-6.7.2-web/css/brands.css' %}"/>
<link rel="stylesheet" href="{% static 'fontawesome-free-6.7.2-web/css/solid.css' %}"/>

<!-- CSS Files -->
<link rel="stylesheet" href="{% static 'css2/bootstrap.min.css' %}"/>
<link rel="stylesheet" href="{% static 'css2/kaiadmin.min.css' %}"/>