<!-- templates/student/student_dashboard.html -->
{% extends 'base.html' %}

{% block title %}Student Dashboard{% endblock %}

{% block header %}
    {% include 'partials/student/header.html' %}
{% endblock %}

{% block navbar %}
    {% include 'partials/student/navbar.html' %}
{% endblock %}

{% block sidebar %}
    {% include 'partials/student/sidebar.html' %}
{% endblock %}

{% block content %}
   
{% endblock %}

{% block footer %}
    {% include 'partials/student/footer.html' %}
{% endblock %}


{% block script %}
    {% include 'partials/scripts.html' %}
{% endblock %}